
html {
    box-sizing: border-box;
background-color: aqua;
}
#Analoge-Uhr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 55%;
    position: relative;
    left: 15%;

    background-color:darkslateblue;
    box-shadow: inset 9px 9px 9px 9px hotpink;
    height: 60vmin;
    width: 60vmin;
}

#std-sekunden {
background-color: black;
position: absolute;
    width: 2px;
    height: 48%;
    transform: rotate(var(--seconden, 30deg)) translateY(-50%);
} 

#std-min {
    position: absolute;
    background-color: black;
    width: 5px;
    height: 48%;
    transform: rotate(var(--minuten, 135deg)) translateY(-50%);
}

#std-zeiger {
    position: absolute;
    background-color: black;
    width: 5px;
    height: 25%;
    transform: rotate(var(--stunden, 95deg)) translateY(-50%);
}
#Kreis {
    width: 5%;
    height: 5%;
    background-color: black;
    border-radius: 50%;
}
 
.digi-uhr {
    height: 20vmin;
    width: 40vmin;
   background-color:blueviolet;
   
        margin-top: 1rem;
        display: flex;
        align-items: center;
        position:absolute;
        right: 30%;
        
      }






